.left-menu{
    width: 268px;
    margin-right: 32px;

}

.left-menu__header{
    padding-bottom: 4px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;
}

.left-menu__categories{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    
}



.left-menu__categories-name,
.left-menu__brands-name{
    padding: 3px 6px;
    border-radius: 12px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #151515;
}

.left-menu__categories-name{
    cursor: pointer;
}

.left-menu__categories-name:hover{
    color: #5f5f5f;
}

.left-menu__categories-count{
    padding: 4px 8px 0px 8px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #6A983C;
background: #F4F8EC;
border-radius: 12px;
}

.left-menu__block{
    margin-top: 48px;
}

.left-menu__brands{
    display: flex; 
    margin-top: 12px;
}

.left-menu__checkbox{
    margin-right: 10px;
}

.left-menu__rating{
    margin-top: 14px;
}

.left-menu-buttons{
    display: flex;
    align-items: center;
}

.left-menu-buttons__apply{
    padding: 12px 16px;
    margin-right: 46px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
background: #6A983C;
border: 2px solid #46760A;
border-radius: 12px;
cursor: pointer;
}
.left-menu-buttons__apply:hover{
    background: #608d33;
}
.left-menu-buttons__reset{
    padding: 12px 16px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #827f7f;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
}

.left-menu-buttons__reset:hover{
    background: #ece6e6;
}

.active-button{
    
    background-color: #A9A9A9;
    
    
}