.product-detail{
    margin-top: 16px;
    display: flex;
}

.product-detail__img{
    margin-right: 32px;
    width: 569px;
    height: 436px;
    background: #F9F9F9;
    border-radius: 12px;
    object-fit: cover;
}

.product-detail__container{
max-width: 570px;
}

.product-detail__name{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;

color: #151515;
}

.product-detail__count-review{
    
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

/* C1/C */

color: #A9A9A9;
}

.product-detail__description{
    margin-top: 40px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;

/* C1/A */

color: #151515;

}

.product-detail__card-info{
    display: flex;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */


/* C1/A */

color: #151515;
}

.product-detail__card-info div:first-child {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9; 

}

.product-detail__card-info p {
    margin-top: 12px;
}


.product-detail__purchase-container{
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 40px;
    background: #FFFFFF;
/* C1/F */

border: 1px solid #F5F5F5;
border-radius: 12px;
}

.product-detail__discount-price{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;

color: #6A983C;
}

.product-detail__price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-decoration-line: line-through;
    
    /* C1/C */
    
    color: #A9A9A9;
    
}

.product-detail__form{
    
    margin-left: 90px;
    
    
 
}

.product-detail__input{
    width: 50px;
    padding: 14px 16px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #D1D1D1;  
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
background: inherit;

/* C1/H */

color: #151515;
}

.product-detail__select{
    width: 80px;
    padding: 15px 0 13px 14px;
    border: 1px solid #D1D1D1; 
    background: inherit;
    border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */


/* C1/A */

color: #151515;
}

.product-detail__add-cart-button{
    display: flex;
    margin-left: 24px;
    padding: 12px 16px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    background: #6A983C;


border: 2px solid #46760A;
border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
}

.product-detail__add-wish-button,
.product-detail__compare-button{
    display: flex;
    margin: 24px 16px 0 0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;

color: #151515;
}


.product-detail__addittionally{
    
    margin-top: 62px;
}

.product-detail__addittionally-buttons{
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #F5F5F5;
}

.product-detail__addittionally-button{
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;
padding-bottom: 16px;
cursor: pointer;
}

.underlined-button{
    border-bottom: 1px solid #6A983C;
}
