* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
body {
  background: #F9F9F9;
}
.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 45px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}


.headertop {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  
}

.headertop__left,
.headertop__right {
  display: flex;
  
}

.headertop__chat {
  color: #6a983c;
  margin-right: 33px;
  text-decoration: none;
}

.headertop__number {
  margin-right: 33px;
}

.headertop__blog,
.headertop__about,
.headertop__careers {
  margin-right: 38px;
  text-decoration: none;
  color: #6a983c;
}

.headertop__careers{
  margin-right: 0;
}

.headersearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.headersearch__form {
  margin-right: 25px;
  display: flex;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.headersearch__select {
  width: 160px;
  /* margin: 10px; */
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  background: inherit;
  
}

.headersearch__option{
  background: #f9f9f9;
  color: #151515;
  
}

.headersearch__input {
  width: 262px;
  padding: 10px 16px;
  border: 0;
  background: inherit;
  /* border-radius: 12px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  border-left: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
}

.headersearch__search-button{
  padding: 0 18px;
  border: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  background: inherit;
}

.headersearch__basket-count{
  position: absolute;
width: 17px;
height: 17px;
right: 14px;
top: 14px;
  text-align: center;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
background: #E6704B;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
border-radius: 12px;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 5px 0 45px;
  background-color: #F9F9F9;
  margin: 0 -45px;
}

.menu__category{
  margin: 0 40px 16px 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #151515;
cursor: pointer;
text-decoration: none;
}



.first-componet-home, 
.second-componet-home,
.third-componet-home{
  display: flex;
  padding: 64px 0;
  
}
.second-componet-home__cards,
.third-componet-home__cards {
  display: flex;
  justify-content: space-between;
  width: 870px;
  flex-wrap: wrap;
}

.left-menu-home {
  width: 269px;
  margin-right: 32px;
}

.left-menu-home__name{
  margin-bottom: 16px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;
}

.left-menu-home__categories{
  margin-bottom: 36px;
  list-style: none;
}

.left-menu-home__category{
  margin-bottom: 12px;
}

.left-menu-home__link{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-decoration-line: underline;
color: #6A983C;
}

.left-menu-home__button{
  display: inline-block;
  padding: 12.5px 16px;
  
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #151515;
background: #F5F5F5;
border-radius: 12px;
cursor: pointer;
}
/* 
.banners-recipe{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto, 420px);
  justify-content: space-around;
  column-gap: 20px;
  
} */

.banners-recipe{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 870px;
  
}

.baner-recipe__name{
  margin-bottom: 8px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #6A983C;
}

.baner-recipe__header{
  margin-bottom: 94px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #151515;
}



.baner-recipe__button{
  display: inline-block;
  padding: 12px 22px 12px 16px;
  border: 2px solid #92C064;
  border-radius: 12px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #151515;
cursor: pointer;
}

.product-card{
padding: 16px;
width: 269px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 12px;
}

.product-card__img{
  
  object-fit: cover;
  width: 237px;
  height: 180px;
  background: #F9F9F9;
  border-radius: 12px;
}

.product-card__name{
  margin-top: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515
}

.product-card__description{
  margin-top: 16px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #575757;
}

.product-card__price{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.product-card__button{
  padding: 6.5px 12px;
border-radius: 12px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
background: #6A983C;
border: 2px solid #46760A;
  cursor: pointer;
}

.reviews {
  padding: 64px 0;
}

.section-button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.section-button__name{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;
}

.section-button__button {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #151515;
cursor: pointer;

}

.reviews__content{
  display: flex;
  margin: 0 -45px;
  position: relative;
}

.reviews__cards{
  display: flex;
  position: relative;
  padding-bottom: 6px;
  overflow: auto;
  scroll-behavior: smooth;
}
.reviews__cards::-webkit-scrollbar {
  width: 0;
}

.reviews__card{
  margin-left: 32px;
  margin-bottom: 20px;
  min-width: 369px;
  height: 198px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
}
.reviews__card:first-child{
  margin-left: 0;
  
}
.reviews__scroll-left{
  position: absolute;
  cursor: pointer;
  z-index: 100;
}

.reviews__scroll-right{
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  cursor: pointer;
}

.reviews__card-content{
  position: relative;
  z-index: 0;
}


.reviews__card-comment{
  padding: 24px 32px;
  text-align: center;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #151515;
}

.reviews__card-name{
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.reviews__card-img{
  position: absolute;
  z-index: 2;
  width: 48px;
  height: 48px;
  left: calc(50% - 48px/2 - 0.5px);
  bottom: -68px;
}

.post{
  display: flex;
}

.post__left{
  margin-right: 31.5px;
  text-decoration: none;
  /* background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%); */
}

/* .post__left:hover{
  color: #000000;
} */

.post__left-text{
  position: absolute;
  z-index: 2;
  bottom: 64px;
  left:24px;
  width: 380px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;
text-decoration: none;
}


.post__left-author{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
}

.post__left-photo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
}

.post__left-name{
  margin-right: 16px;
}

.post__left-name,
.post__left-date,
.post__middle-name,
.post__middle-date{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.post__middle{
  display: flex;
  flex-direction: column;
  margin-right: 31.5px;
  text-decoration: none;
}

.post__middle-author{
  display: flex;
  margin-top: 16px;
} 

.post__middle-name,
.post__middle-date{
  color: #151515;
}

.post__middle-text{
  width: 267px;
  margin-top: 50px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #151515;

}

/* .post__middle-text:hover{
  color: #292727;
} */

.post__right{
  display: flex;
  flex-direction: column;
}

.post__right-post{
  display: flex;
  margin-bottom: 32px;
  text-decoration: none;
  
}

.post__right-text{
  width: 225px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #151515;
}

.post__right-img{
  width: 96px;
  height: 96px;
  margin-left: 48px;
  border-radius: 12px;
}

.post__right-author{
  display: flex;
  margin-top: 16px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #151515;
}

.post__right-name{
  margin-right: 16px;
}